/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

.top_header{
    background: #efefef;
    padding: 15px 0px;
}
.top_header p{
    
color: #7f7f7f;
    
margin: 0;
    
font-family: 'Montserrat', sans-serif;
    
font-size: 14px;
}
.top_header ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-between;
    
margin: 0;
    
padding: 0;
    
flex-wrap: wrap;
}
.top_header ul li{
    
}
.top_header ul li a{
    
text-decoration: none;
    
text-transform: uppercase;
    
color: #7f7f7f;
    
font-size: 16px;
}
.top_header ul li a:hover{
    color:#ff9b1a;
    transition: .4s all ease-in-out;
}
.btn_join ,.large_btn_join{

background: #ff9b1a;

padding: 0;

text-transform: uppercase;

padding: 10px 15px;

border-radius: 30px;

color: #fff;

font-size: 15px;
font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    padding: 0;
}
.btn_join:hover ,.large_btn_join:hover{
    background-color: transparent;
    border: 1px solid #ff9b1a;
    transition: .4s all ease-in-out;
}
.large_btn_join{
    display: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #292727;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    position: relative;
   
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color : #ff9b1a;
}
.navbar-light .navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    bottom: -1px;
    width: 0%;
    background-color: #ff9b1a;
    transition: .4s all ease-in-out;

}
.navbar-light .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    bottom: -1px;
    width: 0%;
    background-color: #ff9b1a;
    transition: .4s all ease-in-out;

}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 46%;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 46%;
}
.banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.hg{
    min-height: 80vh;
    align-items: center;
}
.banner h1{
    
font-weight: 600;
    
color: #fff;
    
font-family: 'Raleway', sans-serif;
    
font-size: 39px;

}
.count{

display: flex;

justify-content: space-around;

margin: 30px 0px;

flex-wrap: wrap;
}
.count_item{

}
.count_item h3{
    
color: #Fff;
    
font-size: 20px;

font-family: 'Raleway', sans-serif;
}
.count_item p{
    
color: #fff;
    
font-size: 14px;
    
font-family: 'Raleway', sans-serif;

}
.btn_join_us{

color: #fff;

padding: 0;

margin: 0;

padding: 8px 25px;

background: #ff9b1a;

border-radius: 30px;

text-transform: uppercase;

font-size: 16px;

font-weight: 400;

margin-right: 10px;
font-family: 'Montserrat', sans-serif;
}
.btn_contact{
    
color: #fff;
    
margin: 0;
    
padding: 0;
    
padding: 8px 20px;
    
background: #ff9b1a;
    
border-radius: 30px;
    
text-transform: uppercase;
    
font-size: 16px;
    
font-weight: 400;
font-family: 'Montserrat', sans-serif;

}
.btn_join_us:hover{
    background-color: transparent;
    border: 1px solid #Fff;
    color: #fff;
    transition: .4s all ease-in-out;
}
.btn_contact:hover{
    background-color: transparent;
    border: 1px solid #FFF;
    color: #fff;
    transition: .4s all ease-in-out;
}
.instraction{

}
.instraction_item{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 15px;
    border: 1px solid #cac8c8;
    position: relative;
    transition: .4s all ease-in-out;
    z-index: 0;
    border-radius: 5px;
}
.instraction_item::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cea206+0,e76606+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(top,  rgba(206,162,6,0.85) 0%, rgba(231,102,6,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(206,162,6,0.85) 0%,rgba(231,102,6,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(206,162,6,0.85) 0%,rgba(231,102,6,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9cea206', endColorstr='#d9e76606',GradientType=0 ); /* IE6-9 */
    z-index: -1;
}
.instraction_item:hover::before{
    width: 100%;
    height: 100%;
  
    transition: .4s all ease-in-out;
}

.instraction_item:hover{
    background-image: url(../images/bit-coin.png);
    background-position: center;
    
} 
.instraction_item:hover h3{
    color: #fff;
    
}
.instraction_item:hover p{
    color: #fff;
}

.instraction_item h3{
    margin: 0;padding: 0;padding: 15px 0px;font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}
.instraction_item p{
font-family: 'Montserrat', sans-serif;
color: #5f5f5f
}
.instraction_item img{
}
.instraction_item span img{width: 16%;}
.heading{

}
.heading h2{
   
text-transform: uppercase;
   
font-weight: 700;
font-family: 'Montserrat', sans-serif;
}
.heading p{
    position: relative;
    font-size: 14px;
    color: #6e6e6e;
    font-family: 'Montserrat', sans-serif;
}
/* .heading p::before{
    content: "";
    position: absolute;
    right: 42%;
    bottom: -15px;
    height: 2px;
    background-color: #ff9b1a;
    transition: .4s all ease-in-out;
    transform: translate(42%,-42%);
} */
.heading p::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    height: 3px;
    /* width: 20%; */
    background-color: #ff9b1a;
    transition: .4s all ease-in-out;
    transform: translate(-50%, 10px);
}
/* .service:hover .heading p:before{
    width: 8%;
} */
.service:hover .heading p::after, .team:hover .heading p::after, .blog:hover .heading p::after{
    width: 20%;
}
.icon_part{

}
.icon_part img{margin-top: 35px;}
.icon_part h1{
font-family: 'Raleway', sans-serif;
    
text-transform: capitalize;
    
font-size: 25px;
    
margin: 0;
    
margin-top: 15px;
}
.icon_part p{
    
font-size: 15px;
    
margin-top: 10px;
    
color: #6e6e6e;
    
font-family: 'Raleway', sans-serif;
}
.btn_view:hover{
    border: 1px solid#000;
    color: black;
    font-weight: 500;
}
.feactures{
    background-image: url(../images/iphone_6-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 87vh;
}
.feactures::before{
    content: '';
    background-color: #2c2c2c;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.2;
}
.feactures h1{
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: 55px 0px;
    font-family: 'Raleway', sans-serif;
}
.feactures h1::before{
    content: "";
    left: 0%;
    bottom: -15px;
    width: 0%;
    background-color: #ff9b1a;
    position: absolute;
    height: 3px;
    transition: .5s all ease-in-out;
}
.feactures:hover h1::before{
    width: 15%;
}
.feactures ul{

padding: 0;

margin: 0;

list-style: none;

margin-top: 25%;
}
.feactures ul li{

padding: 0;

margin: 0;

display: flex;

justify-content: space-between;

margin-bottom: 10%;

flex-wrap: wrap;
}
/* .feactures ul li h3{

color: #fff;

position: absolute;
}
.feactures ul li p{color: #fff;
    position: absolute;
    margin-top: 40px;
} */
.box{

width: 55px;

height: 55px;

border: 3px solid #ff9b1a;

border-radius: 5px;

transform: rotate(45deg);

margin: 0;

margin-top: 15px;
}
.iphone_6{
    position: absolute;
    width: 30%;
    bottom: 0%;
    top: 16%;
    left: 15%;
}
.iphone_6 img{

position: absolute;

bottom: 0px;
}
.li_content{

width: 80%;

margin-right: 20px;
}
.li_content h3{
    
color: #fff;
    
position: absolute;
    
font-size: 30px;
    
font-family: 'Raleway', sans-serif;
}
.li_content p{
    
position: absolute;
    
color: #fff;
    
margin-top: 34px;
    
font-size: 17px;
    
font-family: 'Raleway', sans-serif;
}

.amount_secton{
    background-color: #ff9b1a;
    /* height: 170px; */
}
.amount_content{

}
.amount_content h1{
    
color: #ffff;
    
font-size: 40px;
    
font-family: 'Raleway', sans-serif;
}
.amount_content p{
    
color: #fff;
    
font-size: 16px;
    
text-transform: uppercase;
    
font-weight: 600;
    
font-family: 'Raleway', sans-serif;
    
margin-top: 15px;
}
.chart{
    padding: 150px 0px;
    position: relative;
}
.safe{

position: absolute;

top: 15%;

left: 25%;

transform: translate(-25%, -15%);
}
.safe p, .mobile p, .wallet p, .Experts p, .Instant p{
    
color: #515151;
    
font-family: 'Montserrat', sans-serif;
}
.safe .icon ,.mobile .icon, .Wallet .icon, .Experts .icon, .Instant .icon, .Recuring .icon{
    width: 50px;
    height: 50px;
    border: 3px solid #f05154;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 8px;
    margin-bottom: 20px;
}
.safe .icon i, .mobile .icon i, .Wallet .icon i, .Experts .icon i, .Instant .icon i, .Recuring .icon i{
    
transform: rotate(-45deg);
    
font-size: 20px;
    
color: #f05154;
}
.mobile{

position: absolute;

top: 50%;

left: 17%;

transform: translate(-17%, -50%);
}
.mobile .icon, .Instant .icon{
    
border-color: #63cd68;
}
.mobile .icon i, .Instant .icon i{
    
color: #63cd68;
}
.Wallet{

position: absolute;

left: 25%;

bottom: 7%;

transform: translate(-25%, -7%);
}
.Wallet .icon, .Experts .icon{
    
border-color: #43c5ca;
}
.Wallet .icon i{
    
color: #43c5ca;
}
.Experts{

position: absolute;

left: 75%;

top: 15%;

transform: translate(-75%, -15%);
}
.Experts .icon{
    
}
.Experts .icon i{
    
color: #43c5ca;
}
.Instant{

position: absolute;

top: 50%;

left: 82%;

transform: translate(-82%, -50%);
}
.Instant .icon{
    
}
.Instant .icon i{
    
}
.Recuring{

position: absolute;

left: 75%;

bottom: 7%;

transform: translate(-75%, -7%);
}
.team{

margin: 0;

padding: 0;

padding: 80px 0px;
}
.team_content h3{

color: #1e1e1e;

margin: 0;

font-family: 'Montserrat', sans-serif;

margin-top: 15px;
}
.team_content h6{

margin: 0;

padding: 0;

text-transform: uppercase;

color: #ff9b1a;

font-family: 'Montserrat', sans-serif;

font-weight: 500;

margin-top: 10px;
}

.contact{
    background-image: url(../images/form_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.contact_heading h1{

color: #fff;

text-transform: uppercase;

font-size: 30px;
}
.contact_heading h1::after{
    content: "";
    left: 50%;
    bottom: 82%;
    height: 2px;
    background:#ff9b1a;
    position: absolute;
    transform: translate(-50%, -82%);
    transition: .4s all ease-in-out;
}
.contact:hover .contact_heading h1::after{
    width: 7%;
} 
.contact form {

}
.contact form input{
    margin-bottom: 20px;
    background-color: transparent;
}
.contact form textarea{
    margin-bottom: 20px;
    background: transparent;
}
.contact form input::placeholder{
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
}
.contact form textarea::placeholder{
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
}
.contact form input[type=submit]{

width: auto;

margin: auto;

background: #ff9b1a;

border: none;

padding: 0;

padding: 7px 50px;

border-radius: 30px;

text-transform: uppercase;

color: #fff;

font-weight: 400;

font-size: 20px;

letter-spacing: 2px;

margin-top: 15px;

margin-bottom: 15px;
}
.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #000;
    outline: 0;
    box-shadow:none;
}
.form-control{
    
border-radius: 8px;
    
border: 1px solid #fff;
}
.contact form input[type=submit]:hover{
    background: transparent;
    border: 1px solid #fff;
    transition: .4s all ease-in-out;

}
.blog{

}
.single_blog{
    border: 1px solid #aba5a5;
    border-radius: 20px;
    position: relative;
}
.single_blog img{
    
width: 100%;
}
.blog_icon{

width: 50px;

height: 50px;

border: 1px solid black;

display: flex;
flex-wrap: wrap;

justify-content: center;

align-items: center;

border-radius: 50px;

border: navajowhite;

position: absolute;

top: 63%;

background: #f26c4f;

left: 5%;

transform: translate(-5%, -63%);
}
.blog_icon i{
    
font-size: 20px;
    
color: #fff;
}
.single_blog ul{

display: flex;

justify-content: space-around;

list-style: none;

margin: 0;

padding: 0;

flex-wrap: wrap;
}
.single_blog ul li{

text-transform: capitalize;

font-size: 15px;

margin-top: 5px;
}
.blog_content h1{

font-size: 18px;

font-family: 'Montserrat', sans-serif;
}
.blog_content p{

font-family: 'Montserrat', sans-serif;

font-size: 14px;

margin-top: 20px;

color: #8b8b8b;
}
.blog_content{
    
padding: 10px 20px;
}
.inventor{

position: relative;
}
.inventor img{
    
height: 100px;
    
width: 100px;
    
border-radius: 50px;
}
.inventor_icon{

width: 35px;

height: 35px;

background: #fb8f2c;

border-radius: 40px;

display: flex;
flex-wrap: wrap;

justify-content: center;

align-items: center;

position: absolute;

left: 54%;

top: 40%;

transform: translate(-54%, -40%);

border: 2px solid #fff;
}
.inventor_icon i{
    
color: #fff;
    
font-size: 15px;
}
.inventor h2{

text-transform: capitalize;

font-size: 20px;

margin-top: 18px;

margin-bottom: 16px;
}
.inventor h6{
    
text-transform: uppercase;
    
font-size: 18px;
    
color: #ff9b1a;
    
font-weight: 400;
}
.feedback_content{

padding: 0;

padding-bottom: 40px;
position: relative;
}
.feedback_content h1{
    
text-transform: uppercase;
    
font-size: 25px;
    
font-family: 'Montserrat', sans-serif;
    
font-weight: 600;
}
.feedback_content p{
    
font-size: 14px;
    
font-family: 'Montserrat', sans-serif;
    
padding: 1% 15%;
}
.feedback_content p::after{
    content: "";
    left: 50%;
    bottom: 25%;
    height: 2px;
    background:#ff9b1a;
    position: absolute;
    transform: translate(-50%, -25%);
    transition: .4s all ease-in-out;
}
.feedback:hover .feedback_content p::after{
    width: 7%;
}
.footer{
    
background: #101010;
    
border-top: 4px solid #ff9b1a;
}
.footer_logo{

}
.footer_logo p{

color: #818181;

margin-top: 25px;

font-size: 16px;

font-family: 'Montserrat', sans-serif;

line-height: 30px;
}
.footer_icon{

width: 45px;

height: 45px;

background: red;

border-radius: 30px;

display: flex;
flex-wrap: wrap;

justify-content: center;

align-items: center;

border: 1px solid #818181;

background: transparent;
}
.footer_logo ul{

margin: 0;

padding: 0;

list-style: none;

display: flex;

justify-content: space-between;

flex-wrap: wrap;
}
.footer_logo ul li{margin-right: 20px;}
.footer_icon i{
    font-size: 18px;
color: #818181;
}
.footer_icon:hover.footer_icon i{


color: #0578a3;
}
.footer_icon:hover{
   
    border:2px solid #0578a3;
}
.contact_us{

margin: 0;
}
.contact_us h1{
    
color: #818181;
    
text-transform: uppercase;
    
font-size: 25px;
}
.contact_us ul{
    
list-style: none;
    
margin: 0;
    
padding: 0;
    
margin: 35px 0px;
}
.contact_us ul li{
    
display: flex;
    
color: #818181;
    
margin: 30px 0px;
    
font-size: 20px;
    
flex-wrap: inherit;
}
.contact_us ul li i{
    
margin: 0;
    
padding: 0;
    
margin-top: 11px;
    
margin-right: 15px;
    
font-size: 30px;
}
.quick_links{

}
.quick_links h1{

margin: 0;

padding: 0;

color: #818181;

font-size: 28px;

text-transform: uppercase;
}
.quick_links ul{
    
margin: 0;
    
padding: 0;
    
list-style: none;
    
/* margin-top: 32px; */
}
.quick_links ul li{
    
margin: 24px 0px;
}
.quick_links ul li a{
    
text-decoration: none;
    
color: #818181;
}
.newsletter{

position: relative;

margin-bottom: 95px;
}
.newsletter h1{
    
margin: 0;
    
padding: 0;
    
color: #818181;
    
text-transform: uppercase;
    
font-size: 25px;
}
.newsletter p{
    
font-size: 16px;
    
color: #818181;
    
margin-top: 70px;
}
.newsletter form input{
    
padding: 0;
    
margin: 0;
    
padding: 10px 45px;
    
border-radius: 25px;
    
border: none;
    
margin-top: 25px;
    
position: relative;
}
.newsletter form input::placeholder{
    font-size: 20px;
    text-transform: capitalize;
    
}

.newsletter form input:focus{
    color: #000;
    border-color: #000;
    outline: 1px;
    box-shadow:#fff;
}
.newsletter form button{

color: #ffff;

width: 45px;

height: 45px;

border-radius: 25px;

background: #ff9b1a;

display: flex;

justify-content: center;

align-items: center;

position: absolute;

left: 107%;

top: 100%;

flex-wrap: wrap;

transform: translate(-100%, -100%);

cursor: pointer;

border: transparent;
}
.newsletter form button i{
    font-size: 22px;}
.last_footer{

background: #000000;

padding-top: 15px;
}
.copyright{

display: flex;
flex-wrap: wrap;
}
.copyright i{

font-size: 25px;

color: #728181;

margin-right: 10px;
}
.copyright_Content p{

color: #728181;

font-size: 16px;
}
.footer_nav{

}
.footer_nav ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-between;
}
.footer_nav ul li{
}
.footer_nav ul li a{
    
text-decoration: none;
    
text-transform: uppercase;
    
color: #818181;
    
font-family: 'Montserrat', sans-serif;
transition: .4s all ease-in-out
}

.navbar-toggler span i{
    
color: #ff9b1a;
    
font-size: 30px;
    
margin: 0;
    
padding: 5px 10px;
    
border: 1px solid #ff9b1a;
    
border-radius: 4px;
}
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
.chart img{
    
}
.footer_nav ul li a:hover{
    color: #0578a3;
}